/* Boostrap lg */
@media only screen and (min-width: 992px) {
    .logo {
        padding-top: 20px;
    }

    .section {
        padding: 70px 0;
    }

    div#services {
        padding-bottom: 100px;
        margin-bottom: 0;
    }

}


/* Until Boostrap lg */
@media only screen and (max-width: 992px) {
    .row.header-top {
        padding: 20px 0 20px 0;
    }

    .section {
        padding: 50px 0;
    }

    div#services {
        padding: 20px;
        padding-bottom: 50px;
    }

    .header {
        text-align: center;
    }

    .wc-content {
        padding-top: 30px;
    }

    .wc-img-section {
        height: 300px;
    }
}

@media only screen and (min-width: 576px) {
    .dy-img {
        min-width: 250px;
    }
}

/* mobile sizes */
@media only screen and (max-width: 576px) {
    .year {
        display: none;
    }

    span.header-top-right {
        float: none;
    }

    .about-header {
        margin-bottom: 30px;
    }

    .content-section {
        background-position: center;
        padding: 30px;
        background-size: cover;
    }

    .content-section-caption {
        background-color: #fff;
        width: 100%;
        padding: 20px;

    }

    .headerBold {
        margin-bottom: 30px;
    }

    .wc-content {
        padding-top: 20px;
    }

    .wc-img-section {
        height: 250px;
    }

    .d-sec table td {
        display: inline;
        text-align: center;
    }

    .footer-menu table {
        display: none;
    }

    div#diary {
        padding-bottom: 0 !important;
    }

    .footer-menu.pt-4 {
        padding-top: 0 !important;
    }
}

/* upto boostrap md */
@media only screen and (max-width: 768px) {
    .footer-menu table a {
        font-size: 12px;
    }

    .mob-break {
        display: inline;
    }

    .msg-table td {
        display: block;
        text-align: center;
    }

    .msg-table .tr-2 {
        display: flex;
        flex-flow: column;
    }
    .msg-table .tr-2 .img-td {
        order: 2;
    }
    .msg-table .tr-1 .img-td {
        padding-bottom: 50px;
    }
}

/* until boostrap md */
@media only screen and (min-width: 768px) {
    .msg-table .tr-1 .img-td {
        text-align: end;
        padding-left: 40px;
    }

    .msg-table .tr-2 .img-td {
        text-align: start;
        padding-right: 40px;
    }

}