body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 20px;
}

.header {
    text-transform: uppercase;
    color: #000;
}

.sub-heading {
    color: rgb(104, 104, 104);
    margin: 20px 0;
}

.blue {
    color: rgb(0, 110, 255);
}

.bg-gray {
    background-color: rgb(224, 224, 224);
}

/* Header Styles Start */
.logo {
    padding-top: 10px;
}

.row.header-top {
    padding: 30px 0 20px 0;
}

span.year {
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 65, 65);
}

span.header-top-right {
    float: right;
}

span.header-top-right a {
    color: #000;
    text-decoration: none;
}

a.header-mail {
    color: rgb(199, 0, 0) !important;
}

.insta {

    padding: 0 5px;
    margin-left: 20px;
}

.navbar {
    width: 100%;
}

/* Header Styles End */

/* home section styles start*/
.carousel-caption {
    bottom: 30%;
}

.headerBold {
    margin-bottom: 50px;
}

.content-section {
    background-position: left;
    padding: 50px 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.content-section-caption {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    margin-left: auto;

}

/* Card section */
.cards-section {
    padding-top: 40px;
}

.cards-section .card {
    background-color: #0F5F9C;
    padding-bottom: 50px;
    margin: 20px 0;
}

.card-img {
    width: 50%;
    margin: 5% 10%;
    border: 10px solid #8da7bb;
    border-radius: 50%;
    padding: 10px;
    background: #cdcdcd;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
}

.card-desc {
    color: #fff;
}

.card-btn {
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, -50%);
}

.card-btn .btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 0;
}

.card-btn .fa {
    color: #000;
}

/* why-choose section */
#why-choose {
    padding-top: 0;
}

.wc-content {
    padding-top: 100px;
}

.wc-list {
    padding: 20px 0;
}

.wc-list ul li {
    list-style-image: url(../img/list-icon.png) !important;
    line-height: 2;
}

.wc-img-section {
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

/* our-clients section */

div#our-clients {
    padding-top: 0;
}

.oc-slider {
    padding-top: 20px;
}

.oc-slider .item {
    padding: 20px;
}

/* Design project section */
.dp-slider {
    padding-top: 20px;
}

.dp-slider .item {
    padding: 10px;
}

.dp-slider .item .p-name {
    font-size: 20px;
}

/* Diary section styles */
/* Style the tab */
.tab {
    overflow: hidden;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.dy-img,
.dy-caption{
    padding: 20px;
}
.dy-desc{
    line-height: 2;
}
.dy-default{
    display: block;
}
/* home section styles End */
/* Footer sec styles Start*/
.footer-sec{
    background-color: #fff;
    margin-top: 200px;
}
.footer-menu table a{
text-decoration: none;
color: #000;
}
.footer-menu table a:hover{
    color: rgb(0, 51, 192);
    }
/* Footer sec styles End*/