body{
    font-family: 'Roboto', sans-serif;
}
.btn{
    text-transform: uppercase;
}
.headerh1{
    text-transform: uppercase;
    color: rgb(104, 104, 104);
}
.sub-heading{
    color: rgb(104, 104, 104);
    margin: 20px 0;
}
.blue{
    color: rgb(0, 110, 255);
}
/* Header Styles Start */
.logo {
    padding-top: 10px;
}

.row.header-top {
    padding: 30px 0 20px 0;
}

span.year {
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 65, 65);
}
span.header-top-right{
    float: right;
}
span.header-top-right a {
    color: #000;
    text-decoration: none;
}
a.header-mail{
    color: rgb(199, 0, 0) !important;
}
.insta {
    
    padding: 0 5px;
    margin-left: 20px;
}

.navbar {
    width: 100%;
}

/* Header Styles End */

/* home section styles start*/
.carousel-caption{
    bottom:30%;
}
.headerBold{
    margin-bottom: 50px;
}
.content-section{
    background-position: left;
    padding: 50px 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.content-section-caption{
    background-color: #fff;
    width: 60%;
    padding: 20px;
    margin-left: auto;

}
div#services{
    background-color: rgb(209, 209, 209);
    padding: 10%;
}
/* home section styles End */

